

.menu {
    display: flex;
    text-align: right;
    align-items: center;
}

.menu a {
    margin: 0 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-color: rgb(235, 232, 232);
    -webkit-text-fill-color: rgb(245, 238, 238);
    text-align: 0px;
    text-align: center;
    
}
.img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

}
.menu a:hover{
    text-decoration-color:aliceblue
}


.BARAO{  
    
    margin: 0 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-color: rgb(235, 232, 232);
    -webkit-text-fill-color: rgb(245, 238, 238);
    text-align: 0px;
    text-align: center;
    align-items: center;
    
    
}

.container{
    padding: auto;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgb(39, 37, 37);
}
.buscar a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-color: black;
    -webkit-text-fill-color: black;
    
    margin: 0 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-color: black;
    -webkit-text-fill-color: black;
    text-align: 0px;
    text-align: center;
    
}
.buscar{
    border-radius: 100px;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans serif;
    list-style: none;
    text-transform: uppercase;
}





.navegaçao {
    display: flex;
    padding: auto;
    justify-content: center;
    font-style: initial;
    
    
    
}
.navegaçao a{
    margin: 0 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-color: rgb(12, 7, 7);
    -webkit-text-fill-color: rgb(7, 3, 3);
    text-align: center;
    
    
}

.navegaçao a:hover{
    text-decoration-color:rgb(241, 239, 241);
}





.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 50;
    padding: 100px 50;
    list-style: none;
    width: 100%;
    height: 100px;
    
}
.button a{
    text-decoration: solid;
    color: rgb(10, 8, 8);
    border-radius: 50px;
    padding: 100px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 50px;
    
    

}



